
@media only screen and (max-width:800px) {

  .about-page{
    left: 10vh !important;
    width: 80% !important;
  }
  .about-page{ 
    overflow: hidden !important;
  h3{
    width: 60% !important;

  }
}
}

  h1{
    left: 2.4vh !important;
    top: 3vw !important;
    // margin-left: 20vh !important;
  }
.text-zone{
  h3{
    width: 70%;
    margin-left: 1.5vw;
  }
}

  .about-page{
    top: 20vh;
    left: 15vh !important;

    width: 70%;
      justify-content: center ;
    align-items: center;
    margin: 2vw 2vw 2vw 2vw;
}  


